h2{
    color: rgb(78, 23, 181);
    font-weight: bolder;
    text-decoration:overline;
    text-align: center;
    font-size: 40px;
    margin:50px 5px;
    padding: 50px 5px;

}
.container{
    /* background-color: black; */
    /* padding:100px 10px; */
    /* margin:auto; */
    /* width:80%; */
   
    /* height: 30%; */
    background-image:url("../sss/develop.jpeg");
    background-repeat: no-repeat;
    
    background-size: cover;
    background-position: center;
    border:5px solid rgb(19, 11, 11);
    border-radius:2px; 
    height: 600;
    font-weight: 400;
    font-size: large;
    margin:10px 10px;
    padding: 20px 20px;


}
.ttt{
    text-decoration: overline;
    font-size: 30px;
    font: weight 10px;
    border: 2px solid blue;
    padding: 10px 20px;
    
}
.btn{
    color:blue
}